/vendor/
/node_modules/
.env
.env.local
.phpunit.result.cache
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/secrets/*
!/storage/secrets/.gitignore
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
